﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Quiz App!</h1>
    <a class="btn btn-primary" asp-page="/Quiz/Index">Start Quiz</a>
    
</div>
