﻿@page
@model quiz_app.Pages.Quiz.CreateModel
@{
}
<div class="text-center">
    <h5> Add a new Question!</h5>
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Question.Question">Question</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Question.Question" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Question.choice1">First Choice</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Question.choice1" class="form-control" />
                    </div>
                    <span asp-validation-for="Question.choice1" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Question.choice2">Second Choice</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Question.choice2" class="form-control" />
                    </div>
                    <span asp-validation-for="Question.choice2" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-3 offset-3">
                        <input type="submit" value="Create" class="btn btn-primary form-control" />
                    </div>
                    <div class="col-3">
                        <a asp-page="/Quiz/Index" class="btn btn-success form-control">Back to Quiz</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>