﻿@page
@model quiz_app.Pages.Quiz.IndexModel
@{
    int question_count = 1;
    bool isTestDone = false;
}
<div class="d-flex justify-content-between mb-3">
    <h5 class="text-center mb-3">Behavorial Quiz</h5>
    <a class="btn btn-primary btn-sm" asp-page="/Quiz/Create">Add Question</a>
</div>


@if (Model.isDone)
{
    <h5 class="text-success text-center">Your test has been submitted successfully.</h5>
}
else
{
    <form method="post">
        @foreach (var question in Model.Questions)
        {

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title mb-3">@question.QuestionId.@question.Question</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="option1" asp-for="Answers[question.QuestionId]" checked>
                        <label class="form-check-label" for="choicefor_@question.QuestionId">
                            @question.choice1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Answers[question.QuestionId]" value="option2">
                        <label class="form-check-label" for="choicefor_@question.QuestionId">
                            @question.choice2
                        </label>
                    </div>
                </div>
            </div>
        }
        <button type="submit" class="btn btn-primary align-self-center">Submit your response</button>
    </form>

}


